{
  "bracketSpacing": true,
  "bracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "arrowParens": "always",
  "printWidth": 80,
  "trailingComma": "all",
  "singleQuote": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
